org_id          = "123456789012"
billing_account = "AAAAAA-BBBBBB-CCCCCC"
default_region  = "asia-south1"

projects = {
  "myco-common-net" = {
    display_name = "Shared VPC & Logging"
    folder_key   = "common"
    environment  = "common"
    apis = [
      "compute.googleapis.com",
      "dns.googleapis.com",
      "logging.googleapis.com",
      "monitoring.googleapis.com",
    ]
  }

  "myco-app-dev" = {
    display_name = "App Platform - Dev"
    folder_key   = "development"
    environment  = "dev"
    apis = [
      "container.googleapis.com",
      "sqladmin.googleapis.com",
      "redis.googleapis.com",
      "pubsub.googleapis.com",
      "storage.googleapis.com",
    ]
  }

  "myco-app-staging" = {
    display_name = "App Platform - Staging"
    folder_key   = "non_production"
    environment  = "staging"
    apis = [
      "container.googleapis.com",
      "sqladmin.googleapis.com",
      "redis.googleapis.com",
      "pubsub.googleapis.com",
      "storage.googleapis.com",
    ]
  }

  "myco-app-prod" = {
    display_name = "App Platform - Prod"
    folder_key   = "production"
    environment  = "prod"
    apis = [
      "container.googleapis.com",
      "sqladmin.googleapis.com",
      "redis.googleapis.com",
      "pubsub.googleapis.com",
      "storage.googleapis.com",
    ]
    labels = {
      criticality = "high"
    }
  }
}
